@model ActivaPro.Application.DTOs.ChangePasswordDTO
@{
    ViewData["Title"] = "Cambiar contraseña";
}
<h2>Cambiar contraseña</h2>
<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="ContrasenaActual"></label>
        <input asp-for="ContrasenaActual" type="password" class="form-control" />
        <span asp-validation-for="ContrasenaActual" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NuevaContrasena"></label>
        <input asp-for="NuevaContrasena" type="password" class="form-control" />
        <span asp-validation-for="NuevaContrasena" class="text-danger"></span>
    </div>
    <button class="btn btn-warning">Actualizar</button>
</form>
<partial name="_ValidationScriptsPartial" />
